{% extends 'main.twig' %}
{% block title %}
    <title>Articles | Pronunciation Center</title>
    <meta property="og:title" content="Articles - Pronunciation Center" />
    <meta property="og:url" content="{{baseUrl()}}/{{urlFor('articles')}}" />
{% endblock title %}
{% block content %}
<article>
	<header>
		<h1></h1>
		<p></p>
	</header>
	<p></p>
</article>
{% endblock content %}