{% extends 'main.twig' %}
{% block title %}
		<title>Pronunciation Center - Pronunciation Articles</title>
{% endblock title %}
{% block content %}
	<article>
		<header>
			<h1>Articles</h1>
			<p>
			</p>
		</header>
		<figure id="imgExample"></figure>
		<p>
		</p>
	</article>
	<section id="articles">
	</section>
{% endblock content %}