{% extends 'main.twig' %}
{% block title %}Articles | Pronunciation Center{% endblock title %}
{% block content %}
<article>
	<header>
		<h1></h1>
		<p></p>
	</header>
	<p></p>
</article>
{% endblock content %}