{% extends 'main.twig' %}
{% block title %}
    <title>Settings | Pronunciation Center</title>
    <meta property="og:title" content="Settings - Pronunciation Center" />
    <meta property="og:url" content="{{baseUrl()}}/{{urlFor('settings')}}" />
{% endblock title %}
{% block content %}
	<article>
		<header>
			<h1>Settings</h1>
			<p>
			</p>
		</header>
		<figure id="imgExample"></figure>
		<p>
		</p>
	</article>
	<section id="tips">
	</section>
{% endblock content %}