{% extends 'main.twig' %}
{% block title %}
		<title>Pronunciation Center - Settings</title>
{% endblock title %}
{% block content %}
	<article>
		<header>
			<h1>Settings</h1>
			<p>
			</p>
		</header>
		<figure id="imgExample"></figure>
		<p>
		</p>
	</article>
	<section id="tips">
	</section>
{% endblock content %}