{% extends 'main.twig' %}
{% block title %}
		<title>Pronunciation Center - Suggested Sites</title>
{% endblock title %}
{% block content %}
	<article>
		<header>
			<h1>Suggested links</h1>
			<p>Page in construction.
			</p>
		</header>
		<figure id="imgExample"></figure>
		<p>Page in construction.
		</p>
	</article>
	<section id="tips">
	</section>
{% endblock content %}