{% extends 'main.twig' %}
{% block title %}
    <title>Suggested Sites | Pronunciation Center</title>
    <meta property="og:title" content="Suggested Sites - Pronunciation Center" />
    <meta property="og:url" content="{{baseUrl()}}/{{urlFor('suggestions')}}" />
{% endblock title %} 
{% block content %}
<article>
	<header>
		<h1></h1>
		<p></p>
	</header>
	<p></p>
</article>
{% endblock content %}