{% extends 'main.twig' %}
{% block title %}
		<title>Pronunciation.Center - Pronunciation Tips</title>
{% endblock title %}
{% block content %}
	<article>
		<header>
			<h1>Tips</h1>
			<p>Page in Construction.
			</p>
		</header>
		<figure id="imgExample"></figure>
		<p>Page in Construction.
		</p>
	</article>
	<section id="tips">
	</section>
{% endblock content %}